/* Large Screens */
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .hamburger {
        display: none;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}